
/ {
    keymap {
        compatible = "zmk,keymap";

        cursor1_apple {
            bindings = <
                &kp LEFT &kp DOWN &kp UP &kp RIGHT
                &selword_apple &selline_apple &selblock_apple
            >;
        };

        cursor1_linwin {
            bindings = <
                &kp LEFT &kp DOWN &kp UP &kp RIGHT
                &selword_linwin &selline_linwin &selblock_linwin
            >;
        };

        symbol_enus {
            bindings = <
                &kp EXCL &kp AT &kp HASH &kp DLLR
                &kp AMPS &kp ASTERISK
            >;
        };

        number_enus {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
                &kp PLUS &kp MINUS
            >;
        };

        mouse_apple {
            bindings = <
                &mkp MB4 &mkp LCLK &mkp MCLK &mkp RCLK &mkp MB5
            >;
        };

        magic {
            bindings = <
                &to 0 &to 1 &to 2 &to 3
                &bootloader &bt BT_CLR
            >;
        };
    };
};
