
/ {
    macros {
        ShiftClick: ShiftClick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings =
                <&macro_press &kp LSHIFT>,
                <&macro_tap &mkp LCLK>,
                <&macro_release &kp LSHIFT>;
        };

        GuiClick: GuiClick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &mkp LCLK>,
                <&macro_release &kp LGUI>;
        };

        SelWord_Apple: SelWord_Apple {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LA(LEFT)>,
                <&kp LA(LS(RIGHT))>;
        };

        SelWord_LinWin: SelWord_LinWin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LEFT)>,
                <&kp LC(LS(RIGHT))>;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps_word_combo {
            timeout-ms = <30>;
            key-positions = <13 25>;
            bindings = <&caps_word>;
        };

        f1_combo {
            timeout-ms = <30>;
            key-positions = <1 2>;
            bindings = <&kp F1>;
        };

        tab_combo {
            timeout-ms = <30>;
            key-positions = <57 60>;
            bindings = <&kp TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        HRM_Apple_enUS_ColemakDH {
            bindings = <
                &kp Q  &kp W  &kp F
                &kp A  &kp R  &kp S
                &kp Z  &kp X  &kp C
            >;
        };

        Mouse_Apple {
            bindings = <
                &ShiftClick &GuiClick &SelWord_Apple
            >;
            sensor-bindings = <&mouse_scroll SCRL_DOWN SCRL_UP>;
        };

        Mouse_LinWin {
            bindings = <
                &trans &trans &SelWord_LinWin
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        MouseSlow {
            bindings = <
                &trans &trans &trans
            >;
        };

        MouseFast {
            bindings = <
                &trans &trans &trans
            >;
        };

        MouseWarp {
            bindings = <
                &trans &trans &trans
            >;
        };

        EncoderHorizontal {
            bindings = <
                &trans &trans &trans
            >;
            sensor-bindings = <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };
    };
};
