
/ {
    macros {
        ShiftClick: ShiftClick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings =
                <&macro_press &kp LSHIFT>,
                <&macro_tap &mkp LCLK>,
                <&macro_release &kp LSHIFT>;
        };

        GuiClick: GuiClick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &mkp LCLK>,
                <&macro_release &kp LGUI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps_word_combo {
            timeout-ms = <30>;
            key-positions = <13 25>;
            bindings = <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mouse_Apple {
            bindings = <
                &ShiftClick &GuiClick &trans
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };

        MouseSlow {
            bindings = <
                &trans &trans &trans
            >;
        };

        MouseFast {
            bindings = <
                &trans &trans &trans
            >;
        };

        MouseWarp {
            bindings = <
                &trans &trans &trans
            >;
        };

        EncoderHorizontal {
            bindings = <
                &trans &trans &trans
            >;
            sensor-bindings = <&mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };
    };
};
